<div class="container">
    <br>
    <h2>Agregar pago</h2>
    <form>

        <div class="form-group">
            <label for="codigo">Codigo del evento</label>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" name="codigoEvento" [(ngModel)]='codigo' [disabled]="botonBuscarDisabled"/>
                </div>
                <div class="col-4">
                    <button type="submit" (click)="buscar()" [disabled]="botonBuscarDisabled" type="button" [ngClass]="botonBuscarDisabled ? 'btn btn-secondary' : 'btn btn-primary'">Buscar</button>
                </div>
            </div>
        </div>

        <div *ngIf='error.condicional' class="alert alert-danger">
            {{error.mensaje}}
        </div>

        <div *ngIf="pago.codigo != ''">
            <div class="form-group col-3">
                <label for="evento">Evento</label> 
                <input type="text" class="form-control" name="evento" [value]='pago.nombreEvento' disabled/>
            </div>
            <div class="form-group col-3">
                <label for="fecha">Dia evento</label> 
                <input type="text" class="form-control" name="fecha" [value]="pago.fecha | date: 'dd/MM/yy HH:mm'" disabled/>
            </div>
            <div class="form-group col-3">
                <label for="monto">Monto</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="number" class="form-control" name="monto" [(ngModel)]='pago.monto'>
                </div>
            </div>

            <div class="form-group col-3">
                <label for="rol">Medio de Pago</label> 
                <select class="form-select" [(ngModel)]="pago.medioDePago" name="medioDePago">
                    <option *ngFor="let medioDePago of listaMedioDePago | orderAbmById" [value]="medioDePago">{{medioDePago}}</option>
                </select>
            </div>
        </div>

        <div class="container mt-3">
            <div class="gap-2 d-flex justify-content-end">
                <div>
                    <button (click)="volver()" class="btn btn-primary">Volver</button>
                </div>
                <div>
                    <button type="submit" (click)="save()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>