<div class="abm">

    <app-abm-data-table-header
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputPageNumber)="updatePageNumber($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas"
        [busqueda] = "primeraBusqueda"
        [pageNumber]="pageNumber">
    </app-abm-data-table-header>

    <app-abm-data-table
        (outputPrecio)="precio($event)"
        (outputEditar)="editar($event)"
        (outputEliminar)="eliminar($event)"
        [nombreItemModal] = "nombreItemModal"
        [tituloModal] = "tituloModal"
        [botonModal] = "botonModal"
        [listaItems]="listaItems"
        [currentRegistro]="currentRegistro"
        [pageNumber]="pageNumber"
        [buscar]="buscar">
    </app-abm-data-table>

</div>