<div class="abm">

    <app-abm-data-table-header
        [busqueda] = "primeraBusqueda"
        titulo = 'Pagos'
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputPageNumber)="updatePageNumber($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)">
    </app-abm-data-table-header>

    <app-abm-data-table-pago
        (outputEliminar)="eliminar($event)"
        [listaItems]="listaItems"
        [currentRegistro]="currentRegistro"
        [pageNumber]="pageNumber"
        [buscar]="buscar">
    </app-abm-data-table-pago>

    <app-abm-data-table-paginacion
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        (outputPageNumber)="updatePageNumber($event)"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [pageNumber]="pageNumber"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-paginacion>

</div>