<div class="container">
  <br>
  <h2>Perfil de usuario</h2>
  <form>
      <input type="hidden" name="id" id="id" value="1">
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control">
      </div>
      <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" [(ngModel)]='usuario.apellido' name="apellido" class="form-control">
      </div>
      <div class="form-group">
          <label for="nombre_usuario">Nombre de usuario</label>
          <input type="text" [(ngModel)]='usuario.username' name="username" class="form-control">
      </div>
      <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" [(ngModel)]='usuario.email' name="email" class="form-control">
      </div>

      <div class="form-group">
          <label for="email">Fecha de Nacimiento</label>
          <input type="date" [(ngModel)]='usuario.fechaNacimiento' name="fechaNacimiento" class="form-control">
      </div>

      <div class="form-group">
        <div>
          <button class="btn btn-primary" (click)="cambiarContrasenia()">Cambiar contraseña</button>
        </div>
      </div>

      <div class="container mt-3">
          <div class="gap-2 d-flex justify-content-end">
              <div>
                <button class="btn btn-primary" (click)="volver()">Volver</button>
              </div>
              <div>
                  <button type="submit" class="btn btn-success" (click)="save()">Guardar</button>
              </div>
          </div>
      </div>
  </form>
</div>
