.sidebar,
.sidebar.active {
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background: #f8f9fa;
  border-right: 1px solid #dee2e6;
  transition: left 0.3s ease;
  z-index: 10;
}

.sidebar {
  left: -250px;
}

.sidebar.active {
  left: 0;
}

.sidebar-header {
  padding: 20px;
  background: #343a40;
  color: #fff;
}

.list-unstyled {
  padding: 20px;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li a {
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.list-unstyled li a:hover {
  font-weight: 700;
  cursor: pointer;
}

.center-li {
  display: flex;
  align-items: center;
}

.linea {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  z-index: 999;
}

.linea button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1vh;
}

.sidebar.active+.linea {
  display: none;
}

.sidebarCollapse.menu-cerrado .center-li .texto-menu {
  display: none;
}

.sidebarCollapse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarCollapse.menu-cerrado .linea-horizontal {
  display: none;
}

.center-li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.icono {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.icono i,
.onlyIcon {
  color: white;
  margin: 1vh;
}