.step-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 1em;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.step-box:hover {
    cursor:pointer;
}

.is-invalid-step {
    background-color: #dc3545;
}