<div class="abm">

    <app-abm-data-table-header
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        (outputBuscar)="updatePalabraBuscar($event)"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-header>

    <app-abm-data-table-usuario
        [listaItems]="listaItems"
        [listaHeader]="listaHeader"
        [currentRegistro]="currentRegistro"
        [buscar]="buscar">
    </app-abm-data-table-usuario>

</div>