<div class="abm">

    <app-abm-data-table-header
        [busqueda] = "primeraBusqueda"
        titulo = 'Extras'
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputPageNumber)="updatePageNumber($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)">
    </app-abm-data-table-header>

    <app-abm-data-table-usuario
        [listaItems]="listaItems"
        [listaHeader]="listaHeader"
        [currentRegistro]="currentRegistro"
        [buscar]="buscar">
    </app-abm-data-table-usuario>

    <app-abm-data-table-paginacion
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-paginacion>
</div>