<div class="abm">

    <app-abm-data-table-header
        [busqueda] = "primeraBusqueda"
        titulo = 'Servicios'
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputPageNumber)="updatePageNumber($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)">
    </app-abm-data-table-header>

    <app-abm-data-table
        [mostrarPrecio]="false"
        (outputEditar)="editar($event)"
        (outputEliminar)="eliminar($event)"
        [nombreItemModal] = "nombreItemModal"
        [tituloModal] = "tituloModal"
        [botonModal] = "botonModal"
        [listaItems]="listaItems"
        [currentRegistro]="currentRegistro"
        [buscar]="buscar">
    </app-abm-data-table>

    <app-abm-data-table-paginacion
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-paginacion>

</div>