<div class="abm">

    <app-abm-data-table-header
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputPageNumber)="updatePageNumber($event)"
        [listaItems]="listaItems"
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)"
        [busqueda] = "primeraBusqueda"
        [pageNumber]="pageNumber"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-header>

    <app-abm-data-table-usuario
        (outputEditar)="editar($event)"
        (outputEditarPassword)="cambiarPassword($event)"
        [listaItems]="listaItems"
        [currentRegistro]="currentRegistro"
        [pageNumber]="pageNumber"
        [buscar]="buscar">
    </app-abm-data-table-usuario>

</div>