<div class="nuevo-evento">
    <div>
        <div class="row justify-content-evenly hide-on-phone">
            <div *ngFor="let stepBox of listaStepBox" class="col-md-2">
                <app-step-box 
                    [stepBox]="stepBox" 
                    [currentStep]="step"
                    (outputStep)="stepBoxSelected($event)"></app-step-box>
            </div>
        </div>

        <!--===============================================================================================-->

        <form [formGroup]="formGroup">
            
                <!--===============================================================================================-->
            <div formGroupName="tipoEventoStep">
                <div [ngStyle]="{'display': (isStep(1)) ? 'block' : 'none' }">
                    <section class="nuevo-evento-step">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-10">
                                        <h2>Selecciones tipo de evento</h2>
                                        <p>El tipo de evento a seleccionar cambiara la cantidad de horas de duracion y presupuesto base.</p>
                                    </div>

                                    <div class="col-md-10">
                                        <label for="duracion" class="form-label">Duracion</label>

                                        <select class="form-select" formControlName="duracion" 
                                            (change)="filterTipoEventoByDuracion()"
                                            [ngClass]="{'is-invalid': duracion?.errors && submited}">
                                            <option *ngFor="let duracion of listaDuracion | orderAbmById" [value]="duracion">{{duracion}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="label-with-error">
                                            <label for="tipoEvento" class="form-label">Tipo Evento</label>
                                        </div>
                                        <select class="form-select" 
                                            (change)="inicializarByTipoEventoId()"
                                            formControlName="tipoEvento">
                                            <option *ngFor="let tipoEvento of listaTipoEvento | orderAbmByNombre" [value]="tipoEvento.id">{{tipoEvento.nombre}}</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-md-10 mt-3">
                                        <h2>Ingrese cantidad de personas</h2>
                                        <div class="row mt-3">
                                            <div class="form-group col-6">
                                                <label for="capacidadAdultos" class="form-label">Cantidad Adultos</label>
                                                <input type="number" class="form-control" min="0" oninput="this.value = Math.abs(this.value)"
                                                    (change)="actualizarValidStepBox()"
                                                    [ngClass]="{'is-invalid': capacidadAdultos?.errors && submited}"
                                                    formControlName="capacidadAdultos"
                                                    (change)="changeCapacidadAdultos()">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="capacidadNinos" class="form-label">Cantidad Niños</label> 
                                                <input type="number" class="form-control" min="0" oninput="this.value = Math.abs(this.value)" 
                                                    formControlName="capacidadNinos"
                                                    (change)="changeCapacidadNinos()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="servicio" class="form-label">Incluye los siguiente servicios</label> 
                                        <div id="listaServicio" *ngFor="let servicio of listaServicio | orderAbmByNombre">{{servicio.nombre}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>    
                <!--===============================================================================================-->

                <!--===============================================================================================-->
            <div formGroupName="datosEventoStep">
                <div [ngStyle]="{'display': (isStep(2)) ? 'block' : 'none' }">
                    <section class="nuevo-evento-step">
                        <div class="row">
                            <div class="col-md-5">
                                <h2>Agregar nuevo evento</h2>
                                <p>Cree el nuevo evento a realizar en {{empresa.nombre}}</p>
                    
                                <div class="fieldset-content">

                                    <div class="form-group col-6">
                                        <label class="form-label">Nombre del evento</label> 
                                        <input type="text" class="form-control"
                                            (change)="actualizarValidStepBox()"
                                            [ngClass]="{'is-invalid': nombreEvento?.errors && submited}"
                                            formControlName="nombreEvento">
                                    </div>

                                    <div class="form-group">
                                        <label for="date" class="form-label w-100">Fecha de evento</label>
                                        <div class="row">
                                            <div class="col-2">
                                                <!-- [(ngModel)]="fechaEvento.dia" -->
                                                <select class="form-select" (change)="changeDay()">
                                                    <option *ngFor="let dia of listaDia | orderAbmById" [value]="dia">{{dia}}</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <!-- [(ngModel)]="fechaEvento.mes" -->
                                                <select class="form-select" (click)="getAllDaysOfMonth(fechaEvento.year, fechaEvento.mes)" (change)="changeDate()">
                                                    <option *ngFor="let mes of listaMes | orderAbmByIdDesc" [value]="mes.id">{{mes.nombre}}</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <!-- [(ngModel)]="fechaEvento.year" -->
                                                <select class="form-select" (click)="getAllDaysOfMonth(fechaEvento.year, fechaEvento.mes)" (change)="changeDate()">
                                                    <option *ngFor="let year of listaYear | orderAbmById" [value]="year">{{year}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div>
                                        <label class="form-label w-100" for="time_start_hour">Hora inicio</label>
                                        <div class="d-inline-flex flex-row">
                                            <div>
                                                <div class="form-group">
                                                    <!-- [(ngModel)]="inicioTime.hour" -->
                                                    <select class="form-control" (change)="changeTime()">
                                                        <option *ngFor="let hora of listaHora | orderAbmById" [value]="hora">{{hora}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="p-1">:</div>
                                            </div>
                                            <div>
                                                <div class="form-group">
                                                    <!-- [(ngModel)]="inicioTime.minute" -->
                                                    <select class="form-control" (change)="changeTime()">
                                                        <option *ngFor="let minuto of listaMinuto| orderAbmById" [value]="minuto">{{minuto}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <div id="time_end_div">
                                        <label class="form-label w-100" for="time_end_hour">Hora final</label>
                                        <div class="d-inline-flex flex-row">
                                            <div>
                                                <div class="form-group">
                                                    <!-- [(ngModel)]="finalTime.hour" -->
                                                    <select class="form-control">
                                                        <option *ngFor="let hora of listaHora | orderAbmById" [value]="hora">{{hora}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="p-1"> : </div>
                                            </div>
                                            <div>
                                                <div class="form-group">
                                                    <!-- [(ngModel)]="finalTime.minute" -->
                                                    <select class="form-control">
                                                        <option *ngFor="let minuto of listaMinuto| orderAbmById" [value]="minuto">{{minuto}}</option>
                                                    </select>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mt-2" id="hastaElOtroDia">
                                        <!--  [(ngModel)]="hastaElOtroDiaCheckbox" -->
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label" for="hastaElOtroDiaCheckbox"> Dura hasta el otro dia </label>
                                    </div>
                                </div>				                
                            </div> 
                            <div class="col-md-7">
                                <div *ngIf="!horarioDisponible">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Fecha no disponible,</strong> <p>Tenga en cuenta que entre evento y evento calcula 1 hora de margen.</p>
                                    </div>
                                </div>
                                <div *ngIf="horarioDisponible" class="col-md-8">
                                    <div class="alert alert-success" role="alert"><strong>Fecha disponible</strong></div>
                                </div>
                                <div *ngFor="let evento of listaEvento"><p> - {{evento}}</p></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
                <!--===============================================================================================-->

                <!--===============================================================================================-->
            <div formGroupName="cotizacionStep">
                <div [ngStyle]="{'display': (isStep(3)) ? 'block' : 'none' }">
                    <section class="nuevo-evento-step">
                        <h2>Presupuesto</h2>
                        <p>Puede agregar extras que cambiaran el precio final</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 form-group">
                                        <h4>Extras fijos</h4> 
                                        <div id="listaExtra" *ngFor="let extra of listaExtra | orderAbmByNombre; let i=index">
                                            <app-extra-checkbox 
                                                (outputExtraPresupuesto)="sumExtraPresupuesto($event)"
                                                [listaExtra]="evento.listaExtra"
                                                [i]="i"
                                                [extra]="extra">
                                            </app-extra-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 form-group">
                                        <h4>Extras variables</h4> 
                                        <div id="listaExtraVariable" *ngFor="let extraVariable of listaExtraVariable | orderAbmByNombre; let i=index">
                                            <app-extra-variable-checkbox
                                                (outputExtraPresupuesto)="sumExtraPresupuesto($event)"
                                                [listaExtra]="evento.listaExtraVariable"
                                                [i]="i"
                                                [extra]="extraVariable">
                                            </app-extra-variable-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="row mt-2">

                                    <div class="form-group col-6">
                                        <label class="form-label" for="extraOtro">Extra otro</label> 
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="number" class="form-control" min="0" oninput="this.value = Math.abs(this.value)" 
                                            formControlName="extraOtro"
                                            [ngClass]="{'is-invalid': extraOtro?.errors && submited }"
                                            (change)="sumPresupuesto()">
                                        </div>
                                    </div>


                                    <div class="form-group col-6">
                                        <label class="form-label" for="descuento">Descuento</label>
                                        <div class="input-group mb-2">
                                            <input type="number" class="form-control" min="0" oninput="this.value = Math.abs(this.value)" 
                                            formControlName="descuento"
                                            [ngClass]="{'is-invalid': descuento?.errors && submited }"
                                            (change)="sumPresupuesto()">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">

                                    <div class="form-group col-md-6">
                                        <label class="form-label" for="presupuesto">Presupuesto</label> 
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="number" class="form-control" formControlName="presupuesto"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!--===============================================================================================-->

            <!--===============================================================================================-->
            <div formGroupName="cateringStep">
                <div [ngStyle]="{'display': (isStep(4)) ? 'block' : 'none' }">
                    <section class="nuevo-evento-step">
                        <div class="row">
                            <div class="col-6">
                                <h2>Seleccione opciones de catering</h2>
                                <p>Puede agregar un servicio de catering al evento</p>
                                <div class="form-group mt-2">
                                    <input class="form-check-input" type="checkbox" formControlName="agregarCateringCheckbox">
                                    <label class="form-check-label" for="agregarCateringCheckbox">Agregar servicio de catering</label>
                                </div>
                            </div>

                            <div *ngIf="agregarCateringCheckbox?.value" class="col-6">
                                <div class="form-group mt-2">
                                    <input class="form-check-input" type="checkbox" 
                                        formControlName="cateringOtroCheckbox" 
                                        (change)="cleanTipoCateringForCateringOtro()">
                                    <label class="form-check-label" for="cateringOtroCheckbox"> Catering Otro </label>
                                    <small class="form-text text-muted">(Permite ingresar un precio personalizado de plato)</small>
                                </div>
                                <div *ngIf="cateringOtroCheckbox?.value" id="catering_otro_precio" class="form-group row">
                                    <div class="col-3">
                                        <label for="cateringOtroPrecio" class="form-label">Precio del plato</label> 
                                        <div class="input-group mb-2 col-4">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <!--  [(ngModel)]="evento.cateringOtro"  -->
                                            <input type="number" class="form-control" min="0" oninput="this.value = Math.abs(this.value)" (change)="sumCateringPresupuesto()"/>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <!--  [(ngModel)]='evento.cateringOtroDescripcion"  -->
                                        <label for="descripcionCatering" class="form-label">Descripcion</label> 
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>					
                        <div *ngIf="agregarCateringCheckbox?.value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <h4>Tipos de catering</h4>
                                            <div id="listaExtraTipoCatering" *ngFor="let tipoCatering of listaExtraTipoCatering | orderAbmByNombre; let i = index">
                                                <app-extra-checkbox 
                                                    (outputExtraOtro)="cleanExtraOtroCheckbox()"
                                                    (outputExtraPresupuesto)="sumExtraTipoCatering($event)"
                                                    [listaExtra]="evento.listaExtraTipoCatering"
                                                    [i]="i"
                                                    [extra]="tipoCatering"
                                                ></app-extra-checkbox>
                                            </div>
                                        </div>
                    
                                        <div class="col-lg-8 col-md-12">
                                            <h4>Extras de catering</h4>
                                            <div id="listaExtraCatering" *ngFor="let cateringVariable of listaExtraCateringVariable | orderAbmByNombre; let i = index">      
                                                <app-extra-variable-checkbox
                                                    (outputExtraPresupuesto)="sumExtraCatering($event)"
                                                    [listaExtra]="evento.listaExtraCateringVariable"
                                                    [i]="i"
                                                    [extra]="cateringVariable">
                                                </app-extra-variable-checkbox>
                                            </div>
                                        </div>
                                    </div>       
                                </div>
                                <div class="col-md-6">
                                    <div class="col-12">
                                        <h4>La cantidad de adultos del evento es: {{evento.capacidad.capacidadAdultos}}</h4>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group col-md-6">
                                            <label for="presupuesto" class="form-label" for="presupuestoCatering">Precio de catering</label> 
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input type="number" class="form-control" formControlName="presupuestoCatering"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
                <!--===============================================================================================-->
            
            
                <!--===============================================================================================-->
            <div formGroupName="clienteStep">
                <div [ngStyle]="{'display': (isStep(5)) ? 'block' : 'none' }">
                    <section class="nuevo-evento-step">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-4">
                                        <h2>Finalizar reserva</h2>
                                        <p>Complete con los datos del cliente</p>
                                    </div>
                                    <div *ngIf='error.condicional' class="col-4">
                                        <div class="alert alert-danger">{{error.mensaje}}</div>
                                    </div>
                                    <div *ngIf='usuarioCondicional' id="clienteEncontrado" class="col-4">
                                        <div class="alert alert-success" role="alert">Cliente encontrado </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="form-group col-md-6">
                                        <div class="label-with-error">
                                            <label for="celular" class="form-label">Celular 
                                                <button type="button" class="btn btn-primary btn-sm" (click)="buscarClientePorCelular()">
                                                    <i class="fas fa-search fa-xs"></i>
                                                </button>
                                            </label>
                                            <div *ngIf="celular?.invalid && celular?.touched || submited">
                                                <span *ngIf="celular?.errors" class="invalid-validator">Ingrese celular</span>
                                            </div>
                                        </div>
                                        <input type="number" class="form-control" 
                                            (change)="actualizarValidStepBox()"
                                            formControlName="celular"
                                            [ngClass]="{'is-invalid': celular?.errors && submited }">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="email" class="form-label">E-mail 
                                            <button type="button" class="btn btn-primary btn-sm" (click)="buscarClientePorEmail()">
                                                <i class="fas fa-search fa-xs"></i>
                                            </button>
                                        </label>
                                        <input type="email" class="form-control email" formControlName="email">
                                        <small type="text" class="form-text text-muted">(Si no carga email no se enviará el comprobante)</small>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="label-with-error">
                                            <label for="nombre" class="form-label">Nombre</label>
                                            <div *ngIf="nombre?.invalid && nombre?.touched || submited">
                                                <span *ngIf="nombre?.errors" class="invalid-validator">Ingrese nombre</span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                        (change)="actualizarValidStepBox()"
                                        formControlName="nombre"
                                        [ngClass]="{'is-invalid': nombre?.errors && submited }">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="label-with-error">
                                            <label  for="apellido" class="form-label">Apellido</label>
                                            <div *ngIf="(apellido?.invalid && apellido?.touched) || submited">
                                                <span *ngIf="apellido?.errors" class="invalid-validator">Ingrese apellido</span>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"
                                            (change)="actualizarValidStepBox()"
                                            formControlName="apellido" 
                                            [ngClass]="{'is-invalid': apellido?.errors && submited }">
                                    </div>
                                </div>

                                <div class="col-md-6 mt-2">
                                    <h3>Estado de reserva</h3> 
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="estado" class="form-label">Estado</label>
                                        <select class="form-select" formControlName="estado">
                                            <option *ngFor="let estado of listaEstadoEvento | orderAbmById" 
                                            [value]="estado">{{estado}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="anotaciones" class="form-label">Anotaciones</label> 
                                        <input type="text" class="form-control" formControlName="anotaciones">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div *ngIf='eventoSaveError.condicional' class="row col-10">
                                    <div class="alert alert-danger">{{eventoSaveError.mensaje}}</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--===============================================================================================-->
            </div>
        </form>
    </div>

    <app-spinner [spinnerVisible]="spinnerVisible"></app-spinner>


    <div class="botones-nuevo-evento">
        <button (click)="atras()" [disabled]="botonAtrasDisabled" type="button" [ngClass]="botonAtrasDisabled ? 'btn btn-secondary' : 'btn btn-primary'" class="mx-2">Atras</button>
        <button (click)="siguiente()" type="button" class="btn btn-primary">{{botonSiguienteFinalizado}}</button>
    </div>
</div>

<app-modal-informativo></app-modal-informativo>

