<div class="abm">

    <app-abm-data-table-header
        (outputCurrentRegistro)="updateCurrentRegistro($event)"
        (outputPageNumber)="updatePageNumber($event)"
        (outputBuscar)="updatePalabraBuscar($event)"
        (outputBusqueda)="updatePrimeraBusqueda($event)"
        [busqueda] = "primeraBusqueda"
        [pageNumber]="pageNumber"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas"
        [cantidadEventos]="cantidadEventos">
    </app-abm-data-table-header>

    <app-abm-data-table-evento
        (outputPagos)="pagos($event)"
        (outputExtra)="extras($event)"
        (outputCatering)="catering($event)"
        (outputHora)="hora($event)"
        (outputVer)="ver($event)"
        (outputEliminar)="eliminar($event)"
        [listaItems]="listaItems"
        [listaHeader]="listaHeader"
        [currentRegistro]="currentRegistro"
        [pageNumber]="pageNumber"
        [buscar]="buscar">
    </app-abm-data-table-evento>

</div>