.layout{
  display: grid;
  grid-template-columns: 4vw 1fr; 
  min-height: 92vh; 
  /* TODO revisar para que llegue al maximo de la pantalla en vista /, /panelAdmin, saveEvento. En /agenda se ve bien*/
}

.l{
  grid-column: 1; /* Ubicar el app-navbar en la primera columna */
}
