<div class="header_abm">
    <p class="cont-pag">Cantidad de registros: {{cantidadEventos}}</p>
<div class="contenedorBusqueda">
    <input [(ngModel)]="buscar" class="form-control barra_busqueda" placeholder="Buscar Por Nombre">
    <button class="lupita" (click)="actualizaBuscar()"><i class="fas fa-search icono"></i></button>
</div>

    <nav aria-label="Page navigation example" class="cont-pag">
        <ul class="pagination">
            <li class="page-item" *ngIf="pageNumber >= 1"><button class="page-link" (click)="atras()">Atras</button></li>
            <li class="page-item" *ngFor="let pagina of cantidadPaginas.slice(getLimitesSlice(currentPagina)[0], getLimitesSlice(currentPagina)[1]); let i = index">
                <button class="page-link" [ngClass]="(getLimitesSlice(currentPagina)[0] +1 + i == currentPagina) ? 'active': ''" (click)="irPagina(getLimitesSlice(currentPagina)[0] +1 + i)">{{getLimitesSlice(currentPagina)[0] +1 + i}}</button>
            </li>
            <li class="page-item" *ngIf="pageNumber < cantidadEventos/10 -1"><button class="page-link" (click)="siguiente()">Siguiente</button></li>
        </ul>
    </nav>

</div>