<div class="table-title m-2 contenedor-header">
    
    <h2 class="titulo-header">Administrar <b> {{titulo}}</b></h2>

    <!-- Barra de busqueda -->
    <div class="contenedor-barra-busqueda">
        <input [(ngModel)]="buscar" class="form-control barra-busqueda" placeholder="Buscar...">
        <button class="lupita" (click)="actualizaBuscar()"><i class="fas fa-search icono"></i></button>
    </div>

    <div class="botonera">
        <a class="btn btn-primary mx-2" data-toggle="modal"><span>Volver</span></a>
        <a class="btn btn-success agregar-icon" data-toggle="modal">
            <i class="fas fa-plus-circle mx-1" ></i> 
            <span>Agregar</span>
        </a>
    </div>
</div>