.header_abm{
    display: flex;
    justify-content: space-evenly;
}

.barra_busqueda{
    width: 90%;
    height:3em;
    border-radius: 2em 0% 0% 2em;
}

.contenedorBusqueda {
    width: 50%;
    display : flex;
    align-items: center;
    justify-content: center;
    
}

.lupita{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: var(--color-primario);
    border-radius: 0% 50% 50% 0%;
}
.icono{
    color: white
}