@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}

:root {
  --color-primario: royalblue;
  --color-secundario: dodgerblue;
  --color-terciario: lightgray;
  --color-cuaternario: #696969;
  --color-quinario: white;
  --espacio-separacion: 0.5rem;
  --sombra: 0 0.35rem 0.35rem var(--color-terciario);
}

.abm{
  margin-top: 1rem;
  height: 80%;
}

.center-items-abm{
  display: flex;
  justify-content: center;
}

.modal-display{
  display: contents;
}

.modal-backgroud{
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-correcion-altura{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  top: 0;
  width: 70%;
  height: 100%;
}

.contenedorVolver {
  display: flex;
  justify-content: right;
}

.tabla-panel{
  height: 60%;
}

.layout{
  display: grid;
  grid-template-areas: 1vh 1fr
                        1vh 1fr ;
  
  /* TODO revisar para que llegue al maximo de la pantalla en vista /, /panelAdmin, saveEvento. En /agenda se ve bien*/
}
.layout {
  display: grid; 
  grid-template-columns: 4vw 1.7fr 1fr; 
  grid-template-rows: 6vh 1.7fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b b"
    "a c c"
    "a c c"; 
  height: 100%;
  width: 100%; 
}

.left { grid-area: a; }
.top-right { grid-area: b; }
.right { 
  height : 70%;
  grid-area: c; }


@media (max-width: 767px) {
  .layout{
    gap: 0px 3vh; 
    grid-template-areas:
    "a b b"
    "c c c"
    "c c c";
  }
}

@media only screen and (max-width: 806px) {
  .hide-on-phone {
      display: none;
  }
}

