<div class="container">
	<br>
	<h2>Ver Cliente</h2>
  <div class = "contenedorVolver">
    <button (click)="volver()" class="btn btn-primary volverCliente">Volver</button>
  </div>
       	<div class="row">
    		<div class="col-md-6">
			<div class="form-group col-6 mb-4">
				<h5>Cliente</h5>
				<div class="row">
					<div class="col-10">
			                    <input type="text" class="form-control" [value]="evento.cliente.nombre" readonly="">
					</div>
					<div class="col-2">
						<a class="mx-2" title="Editar" href="/saveCliente/39" data-toggle="tooltip"><i class="fas fa-edit text-warning fa-lg"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div>
				    <table class="table table-bordered">
						<thead>
							<tr>
								<th>Evento</th>
								<th>Codigo</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{evento.nombre}}</td>
								<td>{{evento.codigo}}</td>
								<td class="text-center">
                  <button (click)="ver(evento.id)" a class="mx-2" title="Ver" class="fas fa-eye text-primary" data-toggle="tooltip"></button>
								</td>
							</tr>
						</tbody>
					</table>
		        	</div>
            		</div>
		</div>
       	</div>
</div>
